/* display_page.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.menu-bar {
    background-color: #333;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.menu-bar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.clinic-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.clinic-container h3 {
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    color: #555;
}
