body {
    font-family: Arial, sans-serif;
    background-image: url('images/hero_1.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 800px; /* Increased max-width */
    padding: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    flex: 1;
    font-weight: bold;
}

.form-group input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.menu-bar {
    background-color: white;
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-bar .logo {
    margin-left: 20px;
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  
  .menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-bar li {
    display: inline;
    margin: 0 20px;
  }
  
  .menu-bar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }
  label[for="clinic"] {
    font-weight: normal; /* Remove bold */
    font-size: inherit; /* Inherit font size */
    color: inherit; /* Inherit color */
}
label[for="department"] {
  font-weight: normal; /* Remove bold */
  font-size: inherit; /* Inherit font size */
  color: inherit; /* Inherit color */
}

#department {
  color: green;
}

/* Table styles */
#clinicTable {
    width: 100%;
    border-collapse: collapse;
}

#clinicTable th,
#clinicTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#clinicTable th {
    background-color: #4cafaa;
    color: white;
}

/* Edit button styles */
button {
    background-color: #4cacaf;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #4cacaf;
}
